:root {
    --color-primary: purple;
    --bg-dark: #141414;
    --text-color: #fff;
    --btn-color: #00ff88;
    --header-bg: rgba(0, 0, 0, 0.8);
    --linear-bg: linear-gradient(to right, aqua, purple);
    --bg-card: #043648;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-dark);
    color: var(--text-color);
    transition: 0.3s color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: var(--header-bg);
}

.logo {
    padding: 20px;
    font-family: sans-serif;
    font-size: 1.7rem;
}

.logo span {
    color: var(--btn-color);
    padding: 10px;
}

.logo:hover {
    color: var(--bg-dark);
    animation: acender 0.5s forwards;
    letter-spacing: 10px;
}

@keyframes acender {
    to {
        color: var(--text-color);
        text-shadow: 0 0 10px #32f332, 0 0 20px #a8dfe1;
    }
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--btn-color);
    text-transform: uppercase;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001;
}

.menu-hamburguer span {
    width: 100%;
    height: 3px;
    background: var(--btn-color);
    border-radius: 10px;
    transition: 0.3s;
}

.container {
    padding: 40px 15%;
}

/* SLIDESHOW */

.slideshow {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    animation: mudarCor 20s ease-in-out infinite;
}

@keyframes mudarCor {
    0% {
        background: #ff9a9e;
    }

    25% {
        background: #a18cd1;
    }

    50% {
        background: #84fab0;
    }

    75% {
        background: #f6d365;
    }

    100% {
        background: #ff9a9e;
    }
}

.efeito-escrita {
    padding-top: 150px;
    font-size: 3.5rem;
    color: var(--text-color);
    font-family: "Cascadia Code";
    font-weight: 800;
    width: max-content;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    animation:
        digitando 4s steps(24) infinite alternate,
        piscar 0.8s step-end infinite;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

@keyframes digitando {

    0%,
    10% {
        width: 0;
    }

    90%,
    100% {
        width: 24ch
    }

}

@keyframes piscar {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #00ffff;
    }
}

#texto {
    background: var(--linear-bg);
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer {
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}

.card-produtos {
    width: 100%;
    height: 300px;
    display: flex;
    gap: 10px;
}

.card {
    width: 200px;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    gap: 10px;
    justify-content: space-between;
}

.img-card {
    width: 150px;
    border-radius: 15px;
}

.btn-comprar {
    border: 2px solid purple;
    border-radius: 15px;
    padding: 5px;
    background-color: transparent;
    color: white;
    width: 100px;
    transition: 0.4s;
}

.btn-comprar:hover {
    scale: 1.05;
    background-color: rgba(255, 255, 255, 0.118);
    transition: 0.4s;
}


@media (max-width:768px) {
    .menu-hamburguer {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: var(--header-bg);
        flex-direction: column;
        padding: 20px 0;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .open span:nth-child(2) {
        opacity: 0;
    }

    .open span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .card-produtos {
        overflow-x: auto;
    }
}