@charset "UTF-8";

.h1-store{
    font-size: 96px;
    font-family: var(--font-InterBold);
    text-shadow: 1px 1px 2px black;
    color: var(--second-title-color);
}

.h2-store{
    font-size: 64px;
    font-family: var(--font-InterBold);
    color: var(--primary-title-color);
    text-shadow: 1px 1px 2px black;
}

.h3-store{
    font-size: 32px;
    font-family: var(--font-InterBold);
    color: var(--second-text-color);
    text-shadow: 1px 1px 2px black;
}

.p-store{
    font-size: 24px;
    color: var(--second-text-color);
    font-family: var(--font-InterSemiBold);
}

#apresentacao{
    width: auto;
    height: auto;

}

#son-apresentacao{
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 112px 0px;
}

#div-second-line-title{
    display: flex;
    align-items: center;
    margin-top: -5%;
}

#div-h3{
    display: flex;
    flex-direction: column;
}

#card{
    width: 100%;
    height: auto;
    padding: 30px 0px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-store{
    width: 400px;
    height: 200px;
    background-color: gray;
    border-radius: 30px;

    background-image: linear-gradient(to left, #567057, #A5D6A7, #A5D6A7);

    display: flex;
    align-items: center;
    gap: 13px;
    transition: 0.4s;

}

.card-store:hover{
    background-image: linear-gradient(to left, #567057, #A5D6A7, #A5D6A7);
    scale: 1.02;
    transition: 0.4s;
}

.img-card{
    border-radius: 30px;
}

.text-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--font-InterMedium);
}

.btn-card{
    width: 110px;
    display: flex;
    align-items: center;
    background-color: var(--bg-input-color);
    color: var(--primary-text-color);
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.btn-card:hover{
    background-color: var(--primary-bg-card-color);
    color: var(--second-bg-card-color);
    transition: 0.4s;
}

#melhores-ofertas, #para-voce{
    width: 100%;
    height: auto;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 0px;
}

#linhas-produtos{
    display: flex;
    align-items: center;
    gap: 30px;

    width: 82%;
}

.setas-linha-produto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--second-bg-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}
.setas-linha-produto:hover{
    background-color: var(--second-title-color);
    transition: 0.4s;
}

#tela-rolavel-produtos, #tela-rolavel-produtos2{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 100%;
    padding: 45px 0px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    scrollbar-width: none;
}

.card-produto{
    width: 180px;
    height: 250px;
    background-color: #294E44;
    border-radius: 30px;

    flex-shrink: 0;
}

#produtos{
    width: 100%;
    height: auto;

    text-align: center;
}

.arte{
    width: 90%;
    height: 150px;
    background-color: gray;
    border-radius: 30px;
    margin: auto;

    margin: 40px auto;
}

#p-two{
    color: var(--primary-text-color);
}

#lista-de-produtos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

    padding: 40px 0px;
}

.card-produtos{
    width: 180px;
    height: 250px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

#dad-lista-de-produtos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#p-ver-todos{
    color: var(--primary-text-color);
    font-family: var(--font-InterMedium);
    cursor: pointer;
}
#p-ver-todos:hover{
    color: var(--second-title-color);
    transition: 0.4s;
}

#sub-rodape{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

.div-rodape{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-rodape-title{
    color: var(--primary-text-color);
    font-family: var(--font-InterSemiBold);
    font-size: 14px;
}

.p-rodape-text{
    color: var(--primary-text-color);
    font-family: var(--font-InterRegular);
    font-size: 14px;
}

.a-footer:hover{
    background-color: transparent;
}