@charset "UTF-8";

/* Fontes Normais */

@font-face {
    font-family: 'InterExtraLight';
    src: url(../fonts/woff-hinted/Inter-ExtraLight.woff2) format('woff2');
}
@font-face {
    font-family: 'InterLight';
    src: url(../fonts/woff-hinted/Inter-Light.woff2) format('woff2');
}
@font-face {
    font-family: 'InterRegular';
    src: url(../fonts/woff-hinted/Inter-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'InterMedium';
    src: url(../fonts/woff-hinted/Inter-Medium.woff2) format('woff2');
}
@font-face {
    font-family: 'InterSemiBold';
    src: url(../fonts/woff-hinted/Inter-SemiBold.woff2) format('woff2');
}
@font-face {
    font-family: 'InterBold';
    src: url(../fonts/woff-hinted/Inter-Bold.woff2) format('woff2');
}

/* Fontes Itálicas */

@font-face {
    font-family: 'InterThinItalic';
    src: url(../fonts/woff-hinted/Inter-ThinItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'InterLightItalic';
    src: url(../fonts/woff-hinted/Inter-LightItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'InterMediumItalic';
    src: url(../fonts/woff-hinted/Inter-MediumItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'InterSemiBoldItalic';
    src: url(../fonts/woff-hinted/Inter-SemiBoldItalic.woff2) format('woff2');
}

:root {
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #2F5C4F;
    --third-bg-color: #A5D6A7;
    --fourty-bg-color: #D9D9D9;
    --firty-bg-color: #FAFAF7;
    --header-bg-color: #EBE4E2;
    --bg-input-color: #FAFAF7;
    --primary-bg-card-color: #3B2E2A;
    --second-bg-card-color: #8D6E63;
    --bg-contact-card: #FFFFFF;
    
    --primary-title-color: #32A638;
    --second-title-color: #A5D6A7;
    --third-title-color: #263238;

    --circle-one: #68793F;
    --circle-two: #889F54;

    --primary-text-color: #263238;
    --second-text-color: #EBE4E2;

    --font-InterExtraLight: 'InterExtraLight', sans-serif;
    --font-InterLight: 'InterLight', sans-serif;
    --font-InterRegular: 'InterRegular', sans-serif;
    --font-InterMedium: 'InterMedium', sans-serif;
    --font-InterSemiBold: 'InterSemiBold', sans-serif;
    --font-InterBold: 'InterBold', sans-serif;
    --font-InterThinItalic: 'InterThinItalic', sans-serif;
    --font-InterLightItalic: 'InterLightItalic', sans-serif;
    --font-InterMediumItalic: 'InterMediumItalic', sans-serif;
    --font-InterSemiBoldItalic: 'InterSemiBoldItalic', sans-serif;
}

/* Estilos globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100%;
    background-color: var(--primary-bg-color);
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 4px 10px;
}
a:hover {
    color: var(--second-title-color);
    background-color: var(--second-bg-color);
    border-radius: 15px;
    transition: 0.4s;
}

header {
    height: 40px;
    width: 100%;
    background-color: var(--header-bg-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.433);
    z-index: 999;
    position: sticky;
    top: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    gap: 61px;
    padding: 0px 45px;
}

nav {
    display: flex;
    align-items: center;
    gap: 55px;
}

#nav-itens {
    display: flex;
    align-items: center;
    gap: 31px;
    width: 249px;
}

/* SUBHEADER */

#sub-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 30px;
    width: 720px;
    background-color: var(--header-bg-color);
    border-radius: 0px 0px 0px 30px;
    border-top: 1px solid var(--second-bg-color);
    
    position: relative;
    left: 44%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.433);

    font-family: var(--font-InterExtraLight);
    font-size: 13px;
}

/*Padronização Input*/

input {
    border: none;
    
}

input:focus {
    outline: none;
}

/* Estilos para o input de pesquisa */

#input-Pesquisar-Header {
    width: 600px;
    height: 30px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    padding: 0px 40px;
}

/* Linha Vertical*/

.linha-vertical {
    height: 30px;
    width: 1px;
    background-color: var(--primary-text-color);
}

/* Section Inicial*/

#initial{
    width: 100%;
    height: 283px;
    background-color: var(--second-bg-color);
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos Titulo */

#title {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 80px;
    z-index: 998;
}

#title-h1{
    font-family: var(--font-InterBold);
    color: var(--primary-title-color);
    font-size: 96px;
}

#title-h2{
    font-family: var(--font-InterSemiBoldItalic);
    color: var(--second-title-color);
    font-size: 80px;
    margin-top: -25px;
}

#detalhe-h2 {
    width: 9.52px;
    height: 51.71px;
    background-color: var(--second-title-color);
    rotate: 9.5deg;
    margin-top: -25px;
}

#title-p{
    font-family: var(--font-InterMedium);
    color: var(--second-text-color);
    font-size: 20px;
}

/* Circulos no Section Inicial */

.circle {
    position: absolute;
    border-radius: 50%;
}

#circle-1 {
    width: 283px;
    height: 282px;
    border: 3px solid var(--circle-one);
    left: 427px;
}
#circle-2 {
    width: 245px;
    height: 245px;
    border: 3px solid var(--circle-two);
    left: 290px;
}
#circle-3 {
    width: 283px;
    height: 283px;
    border: 3px solid var(--circle-two);
    left: -136px;
    top: 173px;
}
#circle-4 {
    width: 309px;
    height: 309px;
    border: 3px solid var(--circle-one);
    left: -55px;
    top: -199px;
}

/* section Quem Somos */

#quem-somos {
    width: 100%;
    height: 657px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
}

#title-quem-somos{
    height: auto;
    width: auto;

    display: flex;
    margin-top: 110px;
    margin-left: 128px;
}

#title-quem-somosh{
    font-family: var(--font-InterMediumItalic);
    font-size: 99px;
    color: var(--third-title-color);
    font-weight: bold;
    text-transform: uppercase;
}
#title-quem-somosh2{
    font-family: var(--font-InterThinItalic);
    font-size: 99px;
    color: var(--third-title-color);
    font-weight: lighter;
    text-transform: uppercase;

    margin-left: -400px;
}

#p-quem-somos {
    width: 600px;
    text-indent: 15px;
    font-family: var(--font-InterRegular);
    font-size: 16px;
    margin-top: 25px;
    margin-left: 133px;
    line-height: 150%;
}

#div-imagens-quem-somos{
    margin-top: 20px;
}

#ft-secundaria-one{
    position: absolute;
    right: 37px;
    top: 383px;
}

#ft-secundaria-two{
    position: absolute;
    right: 423px;
    top: 763px;
    z-index: -1;
}

/* Section Nosso Propósito */

#nosso-proposito{
    background-color: var(--second-bg-color);
    height: 582px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: ellipse(115% 100% at 50% 0%);
}

#title-nosso-proposito{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

#title-nosso-proposito-h2{
    font-family: var(--font-InterThinItalic);
    font-size: 99px;
    color: var(--second-title-color);
    font-weight: lighter;
    text-transform: uppercase;

}

#title-nosso-proposito-h{
    font-family: var(--font-InterMediumItalic);
    font-size: 99px;
    color: var(--second-title-color);
    font-weight: bold;
    text-transform: uppercase;
    
    margin-left: -530px;
}

#p-nosso-proposito{
    width: 862px;
    text-align: center;
    color: var(--second-text-color);
    margin: auto;
    font-family: var(--font-InterRegular);
    font-size: 16px;
}

/* Section Público Alvo */

#publico-alvo{
    width: 100%;
    height: auto;

    padding: 20px 110px;
    text-align: end;
}

#title-publico-alvo{
    display: flex;
    justify-content: end;
}

#title-publico-alvo-h2{
    font-family: var(--font-InterThinItalic);
    font-size: 99px;
    color: var(--third-title-color);
    font-weight: lighter;
    text-transform: uppercase;

    margin-right: -408px;
}

#title-publico-alvo-h{
    font-family: var(--font-InterMediumItalic);
    font-size: 99px;
    color: var(--third-title-color);
    font-weight: bold;
    text-transform: uppercase;
}

#div-p-publico-alvo{
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

#p-publico-alvo{
    width: 790px;
    font-family: var(--font-InterRegular);
    font-size: 16px;

    margin-bottom: 119px;
}

#imgs-publico-alvo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 378px;
    margin: 30px 0px;
}

/* Section Benefícios */

#beneficios{
    width: 100%;
    height: auto;

    padding: 0px 110px 20px 110px;
    text-align: start;
}

#title-beneficios{
    display: flex;
    justify-content: start;
}

#title-beneficios-h2{
    font-family: var(--font-InterThinItalic);
    font-size: 99px;
    color: var(--third-title-color);
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-left: -572px;
}

#title-beneficios-h{
    font-family: var(--font-InterMediumItalic);
    font-size: 99px;
    color: var(--third-title-color);
    font-weight: bold;
    text-transform: uppercase;
}

#p-beneficios{
    width: 786px;
    font-family: var(--font-InterRegular);
    font-size: 16px;

    margin-top: 30px;
    margin-left: 75px;
    margin-bottom: 60px;

    text-indent: 15px;
}

#dad-card{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 30px 0px;
}

.card{
    width: 300px;
    height: 450px;
    background-color: var(--primary-bg-card-color);
    border-radius: 30px;
}

.card1{
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-card-color);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.433);
}

.card2{
    width: 100%;
    height: 450px;
    background-color: var(--second-bg-card-color);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.433);
}

.h2-card1{
    font-family: var(--font-InterSemiBold);
    font-size: 40px;
    color: var(--second-title-color);
}

.h2-card2{
    font-family: var(--font-InterSemiBold);
    font-size: 40px;
    color: var(--third-title-color);
}

.p-card{
    width: 85%;
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-InterRegular);
    font-size: 16px;
    color: var(--second-text-color);
    line-height: 150%;
}

/* Footer */

footer{
    width: 100%;
    height: 40px;
    background-color: var(--header-bg-color);
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    padding: 0px 45px;
}

.h3-footer{
    font-family: var(--font-InterMedium);
    font-size: 14px;
    color: var(--primary-text-color);
}

.p-footer{
    font-family: var(--font-InterRegular);
    font-size: 12px;
    color: var(--primary-text-color);
    cursor: pointer;
}
.p-footer:hover{
    color: var(--second-title-color);
    transition: 0.4s;
}

.iconHeader:hover{
    padding: 4px;
    border-radius: 7px;
    scale: 1.2;
    transition: 0.4s;
}

#link-logo-header:hover{
    background-color: transparent;
}

.nav-link{
    padding: 0px;
}

.a-footer:hover{
    background-color: transparent;
}